<header class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="site-logo">
          <img src="assets/img/logo.png" alt="">
        </div>
        <div class="nav-switch">
          <i class="fa fa-bars"></i>
        </div>
      </div>
      <div class="col-lg-9 col-md-9">
          <div *ngIf ="authService.isLoggedIn" class="nav-item text-white">
              <a class="site-btn header-btn"  (click)="authService.logout()">Logout</a>
          
      </div>
      <div *ngIf ="!authService.isLoggedIn" class="nav-item text-white">
          <a class="site-btn header-btn"  routerLink="Registration">Registre now</a>
      
  </div>
     

        <nav class="main-menu">
          <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="Categories">Categories</a></li>
            <li><a routerLink="courses">Courses</a></li>
            <li><a href="blog.html">News</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
